{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "jgonzalg@es.ibm.com",
      "Space": "testing_IBM MobileFirst Services Starter"
    },
    "Name": "app1MobileFirst",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}